html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#bg,
#demo {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 999;
}

#bg {
    display: block;
    box-sizing: border-box;
    background: url('img/bg.jpg') repeat-y;
    background-size: 100% 50%;
    animation: bgMove 20s linear infinite;
    z-index: 998;
    /*只要998，口口口口抱回家 */
}

@keyframes bgMove {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 0 100%;
    }
}